:root {
    --blanco: #c3baba;
    --negro: #020122;
    --rosa: #d81e5b;
    --amarillo: #faf33e;
  }

  body,html {
      width: 100%;
      height: 100vh;
      overflow-x: hidden;
      overflow-y: hidden;
      background: var(--rosa);
  }
  